.ui-container {
  width: 100%;
  margin: 0 auto;
  padding-left: clamp(16px, 2.5vw, 32px);
  padding-right: clamp(16px, 2.5vw, 32px);
  box-sizing: border-box;
}

.ui-container--small {
  max-width: 800px;
}

.ui-container--medium {
  max-width: 1200px;
}

.ui-container--large {
  max-width: 1400px;
}

.ui-container--full {
  max-width: 100%;
}



